/* .footer{
background-color: #1d1d1d;;    
}
 */

/* Footer Styles */
/* Footer Styles */
/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .flex-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  



  .connect-with-us,
  .useful-links,
  .products {
    flex: 1;
    margin: 0 10px;
    padding-right: 6rem;
    padding-left: 0;
    border: none;
    width: 34%;
  }
  
  .connect-with-us h3,
  .useful-links h3,
  .products h3 {
    font-size: 1.2em;
    /* flex: 1 1; */
    /* margin: 6px 10px; */
    padding-right: 1rem;
    padding-left: 0;
    /* border: none; */
    width: 12rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  .vertical-line {
    border-left: 1px solid #fff;
    height: 150px; /* Adjust as needed */
    margin: 0 20px;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 0.8em;
  }
  

  .search-field:hover {
    border: none; /* Define the border styles for hover */
  }
  .search-field::placeholder {
    font-size: 0.8em; /* Define placeholder font size */
    /* Add other placeholder styles here */
  }